{{extend 'layout.html'}}

<h1>Grades evaluation</h1>

{{if form:}}
{{=form}}
{{else:}}
<table>
<tr><th>Run</th><th>KT</th><th>s-coeff</th><th>corr</th><th>norm2</th><th>Info</th></tr>
{{for rid in run_ids:}}
  <tr>
    <td>{{=rid}}</td>
    <td>{{=kt[rid]}}</td>
    <td>{{=s_score[rid]}}</td>
    <td>{{=s_corr[rid]}}</tid>
    <td>{{=norm2[rid]}}</td>
    <td>{{=run_info[rid]}}</td>
  </tr>
{{pass}}
</table>
{{pass}}

<p>{{=venue_link}}</p>

{{if request.is_local:}}
{{=response.toolbar()}}
{{pass}}
